{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<div class="container-xxl py-5 bg-dark hero-header mb-5">
		<div class="container text-center my-5 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item">
						<a href="/">Acceuil</a>
					</li>
					<li class="breadcrumb-item text-white active" aria-current="page">Services</li>
				</ol>
			</nav>
		</div>
	</div>

	<!-- Service Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h5 class="section-title ff-secondary text-center text-primary fw-normal">Nos services</h5>
				<h1 class="mb-5">Explorez nos services</h1>
			</div>
			<div class="row g-3">
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
							<h5>Lavage en libre-service</h5>
							<p>Dites nous ce que vous voulez et nous tâcherons de l'accomplir.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-handshake text-primary mb-4"></i>
							<h5>Lavage à la demande</h5>
							<p>Votre satisfaction fait notre joie et nous marchons dans cette joie.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="service-item rounded pt-3">
						<div class="p-4">
							<i class="fa fa-3x fa-headset text-primary mb-4"></i>
							<h5>Location de machines</h5>
							<p>Nous sommes disponibles tous les jours de la semaine.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service End -->

<!-- Service Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h5 class="section-title ff-secondary text-center text-primary fw-normal">Sur nos services</h5>
				<h1 class="mb-5">Fiabilité de nos services</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
						<h5>Clientèle</h5>
						<p>Dites nous ce que vous voulez et nous tâcherons de l'accomplir.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-handshake text-primary mb-4"></i>
						<h5>Qualité Service</h5>
						<p>Votre satisfaction fait notre joie et nous marchons dans cette joie.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
						<h5>Commandes</h5>
						<p>Vos commandes sont traitées par ordre d'arrivée avec sécurité.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="service-item rounded pt-3">
					<div class="p-4">
						<i class="fa fa-3x fa-headset text-primary mb-4"></i>
						<h5>Service 24/7</h5>
						<p>Nous sommes disponibles tous les jours de la semaine.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Service End -->




{% endblock %}
