<form method="post" action="{{ path('app_contacts_delete', {'id': contact.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce contact?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
<button class="btn btn-primary py-3 px-5 mt-2">Supprimer</button>

</form>
