{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block body %}
	<div class="container-xxl py-5 bg-dark hero-header">
		<div class="container text-center my-5 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated slideInDown">Compte</h1>
			<a href="/logout">
				<i class="fa fa-power-off fa-1x text-primary"></i>
			</a>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item">
						<a href="/">Acceuil</a>
					</li>
					{% if app.user %}
						<li class="breadcrumb-item text-white active" aria-current="page">{{app.user.prenom}}
							{{app.user.nom}}</li>
					{% endif %}
					<li class="breadcrumb-item text-white active" aria-current="page">Contacts</li>
				</ol>
				{% if app.user %}
					<p class="">{{app.user.email}}</p>
				{% endif %}
			</nav>
		</div>
	</div>

	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h5 class="section-title ff-secondary text-center text-primary fw-normal">Message envoyé</h5>
				<h1 class="mb-5">Nous vous contacterons si besoin. Merci !!!</h1>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="/admin" class="btn btn-primary py-2 px-4">Mon compte</a>
				{% elseif is_granted('ROLE_EMPLOYER') %}
					<a href="/employer" class="btn btn-primary py-2 px-4">Mon compte</a>
				{% else %}
					<a href="/compte" class="btn btn-primary py-2 px-4">Mon compte</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
